// color
$body-background: #f6f8fa;
$button-background: #8dd3bb;
$footer-background:  #cdeae1;
$black: #000;

// Font
$paragraph-fontsize: 13px;
$font-style: 'Montserrat', sans-serif;
$font-weight: ("normal": 400, "dark": 500, "darker": 600, "bold": 700);

