/* CSS for index.html */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    
}


hr {
    margin: 0;
    border-color: #ffffff;
}
ul {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
/* header and navigation */
header {
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: 0 4px 7px -2px rgba(0, 0, 0, 0.2);

}

nav {
    width: 85rem;
    margin: 0 auto;

}

nav ul {

    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    
}

.logo {
    margin-bottom: 10px;
    margin-top: 0;
    position: static;
}

.navigation:hover {
    border-bottom: 6px solid #8dd3bb ;
}

.navigation {
    font-size: 13px;
    font-weight: 600;
    width: fit-content;
   
}

.navigation  a {
    color: #000;
    text-decoration: none;
    border: none;
}

/* Body of the web page */
main {
    margin-top: 50px;
    background-color:   #f6f8fa;
    /* box-shadow: 3px 0px 5px #000 */
}

.pagebody {
    
    width: 85rem;
    margin: 0 auto; 
}

/* Hotel basic information */
.hotelInfo {
    padding: 30px 0 0 0;
}

.hotelInfo ul{
    list-style-type: none;
    
}

.hotelInfo li {
    margin-bottom: 0;
}

.hotelInfo{
    display: flex;
}

.path {
    font-size: 13px;
    font-weight: 500;
    display: flex;
      
}

.path div {
    padding: 12px 0 12px 3px;
    
}

#arrow {
    margin: 0 5px 0 5px;
}

.path a {
    color: #ff8985;
    text-decoration: none;
    border: none;  
}

.path p {
    color: #000;
}

.hotel-name {
    font-size: 25px;
    font-weight: 400;
    width: max-content;
    margin-right: 20px;
    height: fit-content;
    display: inline-block;
}

.hotel-name p{
    margin: 5px;
}

.rating {
    font-size: 13px;
    width: fit-content;
    display: inline-block;
}


.location {

    font-size: 13px;
    font-weight: 400
}

.reviews {

    font-size: 13px;

}
.reviews p{
        padding: 10px;
        width: fit-content;
        border: 1px solid  #8dd3bb;
        border-radius: 5px;

}

.review-item {
    display: inline-block;
}

.details{
    padding-left: 470px;
}

.details p{
    margin:55px 0 10px 0;
    font-size: 25px;
    font-weight: 700;
    color: #ff8985;
}




.feedback {
    padding: 6px 10px;
    margin: 10px 10px 10px 0;
    background-color: #f6f8fa;
    color: #000;
    border: 1px solid #8dd3bb;
    border-radius: 5px;
    cursor: pointer;
    
}

.book {
    padding: 10px 10px 8px 10px;
}

button {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #8dd3bb;
    color: #000;
    border: 1px solid #8dd3bb;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;

}

button:hover {
    background-color: #98dbc4;
}

.details {

    margin-bottom: 15px;
}

/* Images of the hotel */
picture #image1{

    width: 45rem;
    
}

picture #image2{
    width: 20rem;
    
}

.pictures picture {

    padding: 30px 0 10px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    
}

.photos{
    padding: 10px;
    position: relative;
    top: -70px;
    left: 1220px;
}



/* Overview and highlights */
.overview {
    padding:20px 0 30px 0;
}
.overview h2{
    font-size: 18px;
    font-weight: 600;
}

.overview p {
    font-size: 13px;
    font-weight: 400;
}

.overview ul {
    list-style-type: none;
    display: flex;
    margin-bottom: 20px;

}

.ratings {
    padding: 0 10px 10px 10px;
    background-color: #8dd3bb;
    border: 1px solid #8dd3bb;
    border-radius: 5px;
    width: 90px;
    height: 90px;
    
}

.highlights {
    padding: 10px 10px;
    background-color: #f6f8fa;
    border: 1px solid #8dd3bb;
    border-radius: 5px;
    width: 90px;
    height: 80px;

}

.ratings p{
    margin: 0;
}

#points {
    font-size: 25px;
    padding-bottom:5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.overview li {
    padding: 20px 5px 20px 10px;
}
/* Available rooms in the hotel */
.rooms {
    padding-bottom : 10px;
}


.rooms h1 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}

.rooms ul {
    list-style-type: none;
}


.room-item{
    display: flex;
    justify-content: space-between;
}

.room-item button {
    margin-left: 20px;
}



.item {
    display: flex;
}

.item p{
    margin: 10px 0 0 0;
}
.rooms div {
    padding-top: 10px;
}

.rooms img {
    margin-right: 20px;
}



.roomdetails {
    font-size: 13px;
    margin: 10px;
}

/* Location details about the hotel */
.locationdetails {
    padding: 10px 0;
}

.maps {
    margin-left: 1040px;
}

.location-header{
    display: flex;
    justify-content: space-between;
}

.locationdetails h1{
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
}

iframe {
    width: 85rem;
}

.locationdetails div {

    font-size: 13px;
    padding-bottom: 40px;

}

/* basic amenities */
.amenities{
    padding: 10px 0;
}
.amenities h1 {
    font-size: 18px;
    font-weight: 600;
}

.amenities ul {
    list-style-type: none;
    font-size: 13px;
    font-weight: 600;
    margin: 10px 0 50px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; 
    padding: 0;
}

.amenities li {
    padding-top: 10px;
    display: flex;
}

.amenities img {
    width: 20px;
    height: 20px;
}

.amenities a {
    color: #ff8985;
    text-decoration: none;
    border: none;
}

.amenities p {
    margin: 5px 0 0 10px;
    font-weight: 400;
}


/* Ratings and customer reviews */
.reviewstab {
    padding: 30px 0;
}

.reviewstab h1{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
}

.reviewstab ul {
    list-style-type: none;
}

.overallreview h1 {
    font-size: 45px;
    padding: 10px 10px 10px 0;
}

.reviews-header {
    display: flex;
    justify-content: space-between;
}

.overallreview{
    display: flex;
}

.nextpage {

    background-color:#f6f8fa;
    border: none;
    padding: 0;

}

.userreview {
    font-size: 13px;
    padding: 10px 0 10px 0;
    display: flex;
}

.userreview img{
    padding: 20px;
}

#flag {
    padding-bottom: 20px;
}

.reviewstab div{
    font-size: 13px;
}
.page-navigator {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Footer with subscribe and contact information */
.footer-color {
    background-color: #f6f8fa;
}

.subscribe {
    width: 85rem;
    margin: 0 auto;
    background-color: #cdeae1;
    border: #cdeae1;
    border-radius: 10px;
    padding: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 110px;
}


.subscribe h1 {
    padding: 10px;
    margin: 0 20px;
    font-size: 30px;
    font-weight: 600;

}


#travel {
    padding:0 10px;
    margin: 0 20px;
    font-size: 15px;
    font-weight: 500;
}


.subscribe p{
    padding:0 10px;
    margin: 0 20px;
    font-size: 13px;
    font-weight: 400;

}

.email {
    padding:8px 10px;
    margin:10px;
    margin-left: 30px;
    width: 350px;
    height: 25px;
    border-radius: 5px;
    border: none;
}

.submit {
    background-color: #000;
    color: #fff;
    font-size: 10px;
    padding: 10px 10px;
}

.submit:hover {
    background-color: #f2f3f4;
    color: #000;
}

.contact {
    background-color: #8dd3bb;
    padding: 200px 80px 50px 80px;
}

.contact ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.contact h4 {
    font-size: 13px;
}

.contact p {
    font-size: 13px;
    font-weight: 400px;
}

.social {
    padding: 0 0 30px 10px;
}

.contact a {
    color: #000;
    text-decoration: none;
    border: none;
}



























